{
	"arrowParens": "always",
	"bracketSameLine": false,
	"bracketSpacing": true,
	"semi": true,
	"singleQuote": true,
	"jsxSingleQuote": true,
	"quoteProps": "as-needed",
	"trailingComma": "all",
	"singleAttributePerLine": false,
	"htmlWhitespaceSensitivity": "css",
	"vueIndentScriptAndStyle": true,
	"proseWrap": "preserve",
	"endOfLine": "auto",
	"insertPragma": false,
	"printWidth": 120,
	"requirePragma": false,
	"tabWidth": 4,
	"useTabs": true,
	"embeddedLanguageFormatting": "auto"
}